table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.button-container button:hover {
  background-color: #4caf50;
  color: white;
  border: none;
}
